name: Build Debug APK

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '17'
          cache: 'gradle'

      - name: Grant Execute Permission for Gradlew
        run: chmod +x gradlew
        working-directory: code

      - name: Build with Gradle
        run: ./gradlew assembleDebug --stacktrace
        working-directory: code

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: supernova-debug
          path: code/app/build/outputs/apk/debug/app-debug.apk